<!DOCTYPE html>

<html>

    <head>
        <title>Todo List APP test</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body>
        <h2> Created a webhook and yes, the build got triggered automatically and you are already seeing the application. </h2>
        <h2> Renamed the service name in the docker-compose.yaml file + gave the same service name in the jenkins project django-todo-app-deployment  </h2>
        <h2> Because I did the above renaming, I have edited the jenkins configuration to remove orphan containers. The build has succeeded.. otherwise this page would not have displayed. </h2>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
    </body>

</html>
